[submodule "references/zed"]
	path = references/zed
	url = https://github.com/zed-industries/zed.git
	shallow = true
[submodule "references/gpui-kit"]
	path = references/gpui-kit
	url = https://github.com/longbridge/gpui-kit.git
	shallow = true
