[submodule "references/zed"]
	path = references/zed
	url = https://github.com/zed-industries/zed.git
	shallow = true
[submodule "references/gpui-component"]
	path = references/gpui-component
	url = https://github.com/longbridge/gpui-component.git
	shallow = true
